.service-top {
  background: url(../../assets/imgs/service-bg.jpg) left top no-repeat;
  background-size: contain;
}
.service-content {
  background: url(../../assets/imgs/service-content-bg.png) right center no-repeat;
  background-size: contain;
}
