.btn {
  display: inline-block;
  color: #fdfdfd;
  font-family: 'Gilroy';
  font-weight: 600;
  background: #f4a418;
  border-radius: 6px;
  border: none;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.35s;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  text-align: center;
}

.btn.btn-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn.btn-block {
  display: block;
  padding: 18px;
}
.btn.btn-small {
  padding: 10px 20px;
}
.btn.btn-medium {
  padding: 15px 28px;
}
.btn.btn-large {
  padding: 18px 44px;
}
.btn:hover {
  color: #fff;
}
.btn::after {
  content: '';
  background-color: #e29613;
  position: absolute;
  z-index: -1;
  /*padding: 0.85em 0.75em;
  */
  display: block;
  padding: 0;
  transition: all 0.35s;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: ;
}
.btn:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
}
.btn::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}
.btn.btn-outline {
  background-color: #fff;
  font-family: 'Quicksand Bold';
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 1.94444px;
  text-transform: uppercase;
  color: #f4a418;
  border: 2px solid #f4a418;
  border-radius: 32px;
  padding: 18px 28px;
}
.btn.btn-outline::after {
  content: unset;
  display: none;
}
.btn.btn-outline:hover {
  color: #fff;
  background-color: #e29613;
}
.btn:active:after,
.btn.btn-outline:active {
  background-color: #d48a09;
}
/* input {
  border: 0;
  outline: 0;
}

input:focus {
  outline: none !important;
}

.input-radio-field {
  padding: 16px;
  background: #f9fafd;
  border: 0.5px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 40px;
}

.input-radio-field-name {
  font-family: 'Gilroy Bold';
  font-size: 16px;
  line-height: 34px;
  color: #2e2d3d;
  margin-bottom: 13px;
}

.input-radio-line {
  display: flex;
}

.input-radio-line-item {
  margin-right: 20px;
}

.input-radio-field-label {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 19px;
  color: #363f4f;
  margin-left: 10px;
}

.container-radio {
  display: block;
  position: relative;
  padding-left: 31px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio-name {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 19px;
  color: #363f4f;
}

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container-radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #d1d3d4;
  box-sizing: border-box;
  border-radius: 6px;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}

.container-radio:hover input ~ .container-radio-checkmark {
  background-color: #ccc;
}

.container-radio input:checked ~ .container-radio-checkmark {
  background-color: #4e868d;
  border: 1px solid #4e868d;
}

.container-radio-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container-radio input:checked ~ .container-radio-checkmark:after {
  display: block;
}

.container-radio .container-radio-checkmark:after {
  top: 8px;
  left: 7px;
  width: 14px;
  height: 7px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEwIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDMuNzAzODdMMy44NTcxNCA2LjY2NjgzTDkgMS4zMzM1IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4=);
  background-repeat: no-repeat;
} */

@media screen and (max-width: 1280px) {
}
