.service-booking-progress {
  display: flex;
  justify-content: center;
  max-width: 690px;
  margin: 0 auto;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.service-booking-progress-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-booking-progress-item-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-booking-progress-item-number {
  font-family: 'Gilroy';
  font-size: 16px;
  text-align: center;
  color: #333d47;
  width: 36px;
  height: 36px;
  background: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.service-booking-progress-item-name {
  font-family: 'Gilroy';
  font-size: 15px;
  text-align: center;
  color: #aeaeae;
}

.service-booking-progress-line {
  height: 1.5px;
  background-color: #d1d3d4;
  width: 120px;
  margin: -30px 30px 0;
}
.service-booking-progress .service-booking-progress-item:first-of-type .service-booking-progress-line {
  display: none;
}
.service-booking-progress-item {
}
.service-booking-progress-item.service-booking-progress-item-active .service-booking-progress-item-number {
  color: #fdfdfd;
  background: #4e868d;
}
.service-booking-progress-item.service-booking-progress-item-active .service-booking-progress-item-name {
  color: #4e868d;
}
.service-booking-progress-item.service-booking-progress-item-active .service-booking-progress-line {
  background-color: #4e868d;
}

.booking-top {
  background-color: #f4fcff;
}
.service-booking-list {
  display: flex;
  padding-bottom: 90px;
  flex-wrap: wrap;
}
.service-booking-item {
  background: #ffffff;
  box-shadow: 0px 12px 50px rgba(181, 187, 198, 0.1);
  border-radius: 14px;
  width: calc(33% - 32px);
  margin-right: 32px;
  margin-bottom: 20px;
}
.service-booking-item:last-of-type {
  margin-right: 0;
}
.service-booking-item-description {
  padding: 16px;
}
.service-booking-item-img {
  width: 100%;
  border-radius: 14px 14px 0px 0px;
}
.service-booking-item-name {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  line-height: 138.2%;
  margin-bottom: 7px;
}

.service-booking-item-text {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 22px;
  color: #434355;
  margin-bottom: 12px;
}

.service-booking-item-price-next {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-booking-item-price {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 138.2%;
  color: #535763;
}

.service-booking-item-price span {
  font-family: 'Gilroy Bold';
  font-size: 14px;
  font-weight: 600;
}

.service-booking-item-btn,
.service-booking-item-btn-back {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 11px 30px;
  display: inline-block;
}

.service-booking-item-btn {
  background: #f4a418;
  box-shadow: 0px 56px 80px rgba(170, 181, 208, 0.1);
  border-radius: 4px;
}
.service-booking-item-btn-back {
  background: #d1d3d4;
  box-shadow: 0px 56px 80px rgba(170, 181, 208, 0.1);
  border-radius: 6px;
  color: #1a1b2d;
  margin-right: 20px;
}

.service-booking-block-content {
  display: flex;
  justify-content: center;
}
.service-booking-block-main,
.service-booking-block-aside {
  background: #ffffff;
  border-radius: 14px;
  margin-bottom: 100px;
}
.service-booking-block-main {
  width: 780px;
  margin-right: 14px;
  padding: 40px;
}

.service-booking-block-aside {
  width: 370px;
}
.service-booking-block-main-name {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 138.2%;
  margin-bottom: 14px;
}
.service-booking-block-bread-crumbs {
  display: flex;
  margin-bottom: 13px;
  align-items: center;
}
.service-booking-block-bread-crumbs-text {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #363f4f;
  margin-right: 10px;
}
.service-booking-block-bread-crumbs-icon {
  margin-right: 10px;
  margin-top: -3px;
}
.service-booking-block-bread-crumbs-icon:last-of-type {
  display: none;
}
.service-booking-block-main-text,
.service-booking-block-main-text p {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 32px;
  color: #1a1b2d;
}
.service-booking-block-main-text p {
  margin: 0;
}
.service-booking-block-main-text {
  margin-bottom: 32px;
}
.service-booking-block-main-text-more {
  display: inline-block;
  color: #f4a419;
  text-decoration: underline;
  border: none;
  background: transparent;
  padding: 0;
}

.service-booking-block-main-form-line-name {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  line-height: 138.2%;
  color: #363f4f;
  margin-bottom: 16px;
}
.service-booking-block-main-form-line-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 24px;
}
.service-booking-block-main-form-counter-name-top {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 20px;
  line-height: 138.2%;
  color: #363f4f;
  margin-bottom: 16px;
}
.service-booking-block-main-form-counter-out {
  margin-bottom: 45px;
}
.service-booking-block-main-form-counter-name {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  line-height: 138.2%;
  color: #363f4f;
  margin-bottom: 5px;
}
.service-booking-block-main-form-counter-description {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 14px;
  color: rgba(34, 37, 49, 0.7);
}
.service-booking-block-main-form-line,
.service-booking-block-main-form-line-counter {
  margin-bottom: 32px;
}
.service-booking-block-aside {
  display: flex;
  flex-direction: column;
}
.service-booking-block-aside-name {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #393d49;
  padding: 24px 20px 32px 20px;
}

.service-booking-block-aside-section {
  border-bottom: 1px solid #e7e7e7;
  padding: 20px 32px 20px 20px;
}
.service-booking-block-aside-section:last-of-type {
  border-bottom: none;
}
.service-booking-block-aside-section-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.service-booking-block-aside-section-name-name {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #1a1b2d;
}
.service-booking-block-aside-section-list {
  margin-bottom: 16px;
}
.service-booking-block-aside-section-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-booking-block-aside-section-list-name {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 19px;
  color: #656977;
}
.service-booking-block-aside-section-list-value {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #656977;
}
.service-booking-block-aside-section-list-value-bold {
  font-weight: 600;
  color: #1a1b2d;
}

.service-booking-block-main-form-line-icon .service-booking-block-main-form-line-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 335px;
}
.service-booking-block-main-form-calendar {
  display: flex;
}
.service-booking-block-main-form-calendar-item {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  background: none;
  border: none;
}

.service-booking-block-main-form-calendar-item-day {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #b4b4b4;
}
.service-booking-block-main-form-calendar-item-numb {
  background: #f6fafb;
  border: 1px solid #d9e7e9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-family: 'Gilroy';
  font-size: 18px;
  text-align: center;
  color: #4e868d;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}
.service-booking-block-main-form-calendar-item:hover .service-booking-block-main-form-calendar-item-numb,
.service-booking-block-main-form-calendar-item-active .service-booking-block-main-form-calendar-item-numb {
  background: #4e868d;
  color: #fff;
  border: 1px solid #4e868d;
}

.service-booking-block-main-form-time {
  display: flex;
}
.service-booking-block-main-form-time-item-numb {
  font-family: 'Gilroy';
  font-size: 16px;
  text-align: center;
  color: #b4b4b4;
  border: 1px solid #d1d1d1;
  text-align: center;
  border-radius: 100px;
  padding: 8px 15px;
  margin-right: 7px;
}
.service-booking-block-main-form-time-item:hover,
.service-booking-block-main-form-calendar-time-item-active .service-booking-block-main-form-time-item-numb {
}

.service-booking-block-main-form-line-50 {
  width: calc(50% - 25px);
  margin-right: 25px;
}
.service-booking-block-main-form-line-50:last-of-type {
  margin-right: 0;
}
.service-booking-block-main-form-addresses {
  display: flex;
}
.service-booking-block-main-name-link {
  display: flex;
  justify-content: space-between;
}
.service-booking-block-main-name-link-link {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #f4a418;
  background: none;
  border: none;
}

.service-booking-block-main-form-credit {
  display: flex;
  justify-content: space-between;
  background: #f9fafd;
  border: 0.5px solid #e5e5e5;
  border-radius: 4px;
  align-items: center;
  padding: 18px 16px;
}
.service-booking-block-main-form-credit-name {
  display: flex;
  justify-items: center;
}
.service-booking-block-main-form-credit-name-icon {
  margin-right: 10px;
}
.service-booking-block-main-form-credit-amout {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 16px;
  color: #fc5f55;
}

.service-booking-block-main-form-line-30 {
  width: 30%;
}

.popup-content {
  margin: auto;
  background: #fefeff;
  box-shadow: 0px 12px 40px rgba(205, 206, 210, 0.1);
  border-radius: 16px;
  width: 100%;
  max-width: 700px;
  padding: 30px;
  position: relative;
}

.popup-content__img-ok {
  width: 100%;
  margin-bottom: 14px;
}
.popup-content__header {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 32px;
  line-height: 135.1%;
  color: #000000;
  margin-bottom: 10px;
}
.popup-content__text {
  margin-bottom: 35px;
}
.popup-content__text p,
.popup-content__text li {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 28px;
  color: #737486;
}
.popup-content__text p {
  margin-bottom: 20px;
}
.popup-content__text li {
  margin-bottom: 16px;
}

.popup-content__confirmation {
  display: flex;
  margin-bottom: 47px;
}
.popup-content__checkbox-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup-content__checkbox-name {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #363f4f;
  margin-left: 10px;
}
.popup-content__checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.popup-content__checkbox-checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #eee;
  transition: all 0.35s ease;
}

.popup-content__checkbox-container:hover input ~ .popup-content__checkbox-checkmark {
  background-color: #ccc;
}

.popup-content__checkbox-container input:checked ~ .popup-content__checkbox-checkmark {
  background-color: #48b59e;
}

.popup-content__checkbox-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.popup-content__checkbox-container input:checked ~ .popup-content__checkbox-checkmark:after {
  display: block;
}

.popup-content__checkbox-container .popup-content__checkbox-checkmark:after {
  left: 9px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.popup-content__btn-ok {
  display: flex;
  justify-content: center;
}
.popup-content__btn-confirm,
.popup-content__btn-link {
  background: #f4a418;
  box-shadow: 0px 15px 25px rgba(199, 201, 216, 0.08);
  border-radius: 100px;
  border: none;
  padding: 15px 100px;
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fefeff;
  transition: all 0.7s ease;
}
.popup-content__btn-confirm:hover,
.popup-content__btn-link:hover {
  background: #e69812;
  color: #fff;
}

.popup-content-congratulation__inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-content_icon-success {
  margin-bottom: 23px;
}
.popup-content__confirmation-code {
  margin: 10px 0 23px;
  font-family: 'Gilroy';
  font-size: 16px;
  color: #fda95c;
}
.popup-content__confirmation-text {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 28px;
  color: #535763;
  margin-bottom: 23px;
}
.popup-content__btn-link {
  margin-bottom: 23px;
}
.popup-content__link-home {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 135.1%;
  text-decoration-line: underline;
  color: #000000;
}
.popup-content__content-center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content__line {
  display: flex;
  justify-content: space-between;
}
.popup-content__line-item-50 {
  width: calc(50% - 15px);
}

.popup-content__line-item-100 {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .service-booking-item {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 767px) {
  .service-booking-item {
    width: 100%;
    margin-right: 0;
  }
  .service-booking-progress-line {
    width: 20px;
  }
  .service-booking-block-content,
  .service-booking-block-main-form-calendar,
  .service-booking-block-main-name-link,
  .service-booking-block-main-form-addresses,
  .input-radio-round-line {
    flex-wrap: wrap;
  }
  .service-booking-block-main-form-calendar-item {
    margin-bottom: 20px;
  }
  .service-booking-block-main-form-line-50,
  .input-radio-round-line-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .container-radio-round {
    width: 200px;
  }
  .service-booking-block-main-form-line-icon .service-booking-block-main-form-line-name,
  .service-booking-block-main-form-line-50 {
    width: 100%;
  }
  .service-booking-block-main,
  .service-booking-block-aside,
  .service-booking-block-main-form-line-30 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .service-booking-item-btn-back,
  .service-booking-item-btn {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 560px) {
  .service-booking-progress {
    justify-content: space-between;
  }
  .service-booking-progress-line {
    width: 0;
    margin: 0;
    display: none;
  }
  .service-booking-item-btn-back,
  .service-booking-item-btn {
    width: 100%;
    margin-right: 0;
  }
  .service-booking-progress-item-name {
    font-size: 14px;
  }
}
