.news-blog-content-block {
  margin: 60px 0 120px;
}

.news-blog-content-block-wrapper h2 {
  font-family: 'Gilroy Bold';
  font-size: 32px;
  line-height: 51px;
  color: #323d51;
  margin: 24px 0;
}

.news-blog-content-block-wrapper p {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 35px;
  color: #50566c;
  margin: 24px 0;
}

.news-blog-content-block-wrapper p:first-child::first-letter {
  font-family: 'Gilroy Bold';
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  display: inline-block;
  padding: 10px 18px;
  margin-right: 5px;
  text-align: center;
  background: #4e868d;
  border-radius: 5px;
  float: left;
}
.news-blog-content-block-author-out {
  border-top: 1px solid #e4e5e7;
  border-bottom: 1px solid #e4e5e7;
}

.news-blog-content-block-wrapper img {
  border-radius: 14px;
  width: 100%;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.news-blog-content-block-author-main {
  display: flex;
  flex-direction: row;
  padding-top: 64px;
}
.news-blog-content-block-author-photo {
  width: 72px;
  margin-right: 32px;
}
.news-blog-content-block-author-info {
  max-width: 1000px;
}
.news-blog-content-block-author-text {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 31px;
  color: #50566c;
}
.news-blog-content-block-author-name {
  font-family: 'Gilroy Bold';
  font-size: 18px;
  line-height: 25px;
  color: #343947;
}
.news-blog-content-block-author-links {
  display: flex;
  flex-direction: row;
  margin: 39px 0 67px 0;
  justify-content: space-between;
}
.news-blog-content-block-author-links-tags {
  display: flex;
  flex-direction: row;
}
.news-blog-content-block-tag {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 22px;
  color: #434355;
  background: #e6e6e6;
  border-radius: 2px;
  padding: 4px 13px;
  margin: 0 5px 10px;
  transition: all 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}
.news-blog-content-block-tag:hover {
  background: #4e868d;
  color: #fff;
}
.news-blog-content-block-author-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-blog-content-block-icon-out {
  background: #ebf2f2;
  box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.1);
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  margin: 0 5px;
}
.news-blog-content-block-icon-share {
  width: 22px;
  margin-right: 36px;
}
.news-blog-content-block-icon {
  filter: invert(49%) sepia(11%) saturate(1232%) hue-rotate(138deg) brightness(95%) contrast(93%);
  -webkit-filter: invert(49%) sepia(11%) saturate(1232%) hue-rotate(138deg) brightness(95%) contrast(93%);
}
.news-blog-content-block-icon-out:hover {
  background: #4e868d;
}
.news-blog-content-block-icon-out:hover .news-blog-content-block-icon {
  filter: invert(84%) sepia(98%) saturate(6895%) hue-rotate(184deg) brightness(125%) contrast(100%);
  -webkit-filter: invert(84%) sepia(98%) saturate(6895%) hue-rotate(184deg) brightness(125%) contrast(100%);
}

@media screen and (max-width: 1280px) {
  .news-blog-content-block-author-links {
    flex-direction: column;
  }
  .news-blog-content-block-author-links-list {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
  }
}
