.card-dots {
  margin-right: 10px;
}

.profile-content-form-4 {
  margin-bottom: 53px;
}

.profile-content-payment-name {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 1px;
  margin-bottom: 14px;
}

.profile-content-payment-wrapper {
  background: #f9fafd;
  border: 0.5px solid #e5e5e5;
  border-radius: 4px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.profile-content-card-logo-img {
  width: 44px;
  margin-right: 16px;
}
.service-booking-block-main-form-card-link {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #f4a418;
  margin-top: 24px;
}
@media screen and (max-width: 1280px) {
}
