.support-contacts-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 130px;
}

.support-contact-item {
  width: calc(33% - 40px);
  margin-right: 40px;
  background: #ffffff;
  box-shadow: 0px 14px 100px rgba(161, 172, 200, 0.1);
  border-radius: 11px;
  padding: 50px 40px;
}

.support-contact-item:last-of-type {
  margin-right: 0;
}

.support-contact-item-icon {
  width: 72px;
  margin-bottom: 32px;
}

.support-contact-item-name {
  font-family: 'Gilroy';
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 16px;
}

.support-contact-item-text {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #434355;
  margin-bottom: 24px;
}

.support-contact-item-text p,
.support-contact-item-text a {
  margin-bottom: 0;
}

.support-contact-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.support-contact-item-link-text {
  font-family: 'Gilroy Bold';
  font-size: 13px;
  line-height: 30px;

  letter-spacing: 1px;
  text-decoration-line: underline;
  text-transform: uppercase;

  color: #f4a418;
  margin-right: 6px;
}

@media screen and (max-width: 992px) {
  .support-contacts-inner {
    flex-wrap: wrap;
  }

  .support-contact-item {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 40px;
  }
}
