.select-input-wrapper {
  display: flex;
}

.select-input-fix .select-field-text {
  width: 80px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
}

.select-input-fix .input-field-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 1280px) {
}
