.support-drop-message-block {
  padding: 100px 0 120px;
}

.support-drop-message-block-name {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
  color: #373b47;
  margin-bottom: 33px;
}

.support-drop-message-block-inner {
  display: flex;
}

.support-drop-message-form-block {
  width: 100%;
  max-width: 940px;
  margin-right: 100px;
}

.support-drop-message-form-line {
  display: flex;
}

.support-drop-message-form-line-100 {
  width: 100%;
}

.support-drop-message-form-line-50 {
  width: calc(50% - 40px);
  margin-right: 40px;
}

.support-drop-message-form-line-50:last-of-type {
  margin-right: 0;
  width: calc(50%);
}

.upport-drop-message-block-offices {
  display: flex;
  flex-direction: column;
}

.support-drop-message-office-block {
  background: #f9fafd;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 16px;
}

.support-drop-message-office-name-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.support-drop-message-office-name {
  position: relative;
  top: 3px;
  margin-left: 10px;
  font-family: 'Gilroy Bold';
  font-size: 18px;
  line-height: 25px;
  color: #1a1b2d;
}

.support-drop-message-office-address {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 27px;
  color: #535763;
}

@media screen and (max-width: 991px) {
  .support-drop-message-block-inner {
    flex-direction: column;
  }
  .support-drop-message-form-block {
    margin-bottom: 40px;
  }
}
