.why-us-content-block {
  margin: 60px 0 120px;
}

.why-us-content-block-wrapper h2 {
  font-family: 'Gilroy Bold';
  font-size: 32px;
  line-height: 51px;
  color: #323d51;
  margin: 24px 0;
}

.why-us-content-block-wrapper p {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 35px;
  color: #50566c;
  margin: 24px 0;
}

@media screen and (max-width: 1280px) {
}
