.news-blog-name-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.news-blog-name-block-h1 {
  font-family: 'Gilroy Bold';
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
}
.news-blog-details {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.news-blog-detail {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin: 0 15px;
}

@media screen and (max-width: 991px) {
  .news-blog-name-block-h1 {
    font-size: 40px;
    line-height: 52px;
  }
  .news-blog-content-block-author-links-tags {
    flex-wrap: wrap;
  }
}
