.holistic-name-block {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
}
.holistic-text-block {
  font-family: 'Quicksand';
  font-size: 16px;
  line-height: 170%;
  color: #656977;
  margin-top: 25px;
  margin-bottom: 50px;
}
.holistic-block-text {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 54px;
}
.holistic-block-100 {
  background: url(../../../assets/imgs/index-holistic-100.png) center center no-repeat;
  background-size: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  display: flex;
  justify-content: flex-end;
}
.holistic-block-100 .holistic-block-text {
  width: 330px;
  margin: 160px 160px 160px 0;
}
.holistic-block-line {
  display: flex;
  flex-direction: row;
}
.holistic-block-50 {
  width: 50%;
  margin-right: 33px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.holistic-block-50:last-of-type {
  margin-right: 0;
}
.holistic-block-text-right {
  background: url(../../../assets/imgs/index-holistic-50-1.png) center center no-repeat;
  background-size: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  display: flex;
  justify-content: flex-end;
}
.holistic-block-text-left {
  background: url(../../../assets/imgs/index-holistic-50-2.png) center center no-repeat;
  background-size: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.holistic-block-50 .holistic-block-text {
  width: 250px;
  margin: 160px 40px 160px 40px;
}
.holistic-block-text-right .holistic-block-text {
  text-align: right;
}

@media screen and (max-width: 991px) {
  .holistic-block-line {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .holistic-block-50 {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .holistic-block-100 .holistic-block-text {
    width: 100%;
    margin: 160px 0 160px 40px;
  }
}
