textarea {
  border: 0;
  outline: 0;
}

textarea:focus {
  outline: none !important;
}

::placeholder {
  color: #ababab;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ababab;
}

::-ms-input-placeholder {
  color: #ababab;
}

.textarea-field {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 40px;
}

.textarea-label {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #6b7287;
  margin-bottom: 10px;
}

.textarea-text {
  width: 100%;
  background: #f9fafd;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  padding: 16px;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  resize: none;
  color: #363f4f;
  font-family: 'Gilroy';
  font-size: 15px;
  line-height: 17px;
}

.textarea-text:focus,
.textarea-text:focus-visible {
  border: 1px solid #4e868d;
}

.textarea-text:focus + label,
.textarea-text:focus-visible + label {
  color: #4e868d;
}

@media screen and (max-width: 1280px) {
}
