.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-nav-white-bg {
  background: #fff;
}

.top-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 100;
  position: relative;
  justify-content: center;
  align-items: center;
}

.top-menu li a,
.top-submenu li a {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
}
.top-menu li {
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-menu li a {
  color: #373b47;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  letter-spacing: 2px;
}
.top-menu li.top-menu-item-group-start a:hover,
.top-menu li.top-menu-item-group-end a:hover,
.top-menu li a:hover,
.top-nav-light .top-menu li a:hover,
.top-menu li .top-submenu li a:hover,
.top-nav-light .top-menu.top-menu-mobile-open li li a:hover,
.top-nav-light .top-menu.top-menu-mobile-open li a:hover {
  color: #e19d21;
}
.top-nav-light .top-menu li a {
  color: #fff;
}
.top-menu li:hover {
  opacity: 1;
}
.top-menu li.top-menu-item-group-start,
.top-menu li.top-menu-item-group-end {
  background: #4e868d;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 36px;
  position: relative;
  top: -7px;
}
.top-menu li.top-menu-item-group-start a,
.top-menu li.top-menu-item-group-end a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  display: block;
}
.top-menu li.top-menu-item-group-start a {
  padding-left: 16px;
  padding-right: 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.19);
}

.top-menu li.top-menu-item-group-end a {
  padding-right: 16px;
  padding-left: 8px;
}

.top-menu li.top-menu-item-group-start {
  padding-left: 0;
  padding-right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.top-menu li.top-menu-item-group-end {
  padding-left: 0;
  padding-right: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.top-submenu {
  position: absolute;
  display: none;
  visibility: hidden;
  opacity: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  left: -20px;
  top: 63px;
  z-index: 10;
  width: 170px;
  background: #4e868d;
  border-radius: 4px;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  padding: 20px;
}

.top-menu li:hover > ul,
.top-menu li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.top-submenu li:first-child:after {
  content: '';
  position: absolute;
  left: 55px;
  top: -28px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #4e868d;
}

.top-menu .has-sub-menu {
  position: relative;
}

.top-menu .has-sub-menu:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border: 1px solid #32557f;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  right: 10px;
  top: 22px;
}

.top-nav-light .top-menu .has-sub-menu:after {
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
}

.top-menu li .top-submenu li {
  clear: both;
  width: 100%;
  text-align: left;
  padding: 0;
  margin-bottom: 12px;
  display: block;
}
.top-menu li .top-submenu li a {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
  color: #ffffff;
  letter-spacing: 0;
  display: block;
}
.top-menu li .top-submenu li:last-of-type {
  margin-bottom: 0;
}
.top-menu-flag {
  width: 26px;
  height: 26px;
  margin-right: 5px;
}

.top-menu .has-sub-menu.top-menu-flag-list {
  padding-top: 14px;
  padding-bottom: 26px;
}
.top-menu .has-sub-menu.top-menu-flag-list:after {
  top: 20px;
}

.top-submenu-short {
  width: 90px;
  left: 6px;
}
.top-menu li .top-submenu-short li {
  text-align: center;
}

.top-submenu-short li:first-child:after {
  left: 15px;
}

#top-menu-mobile-navigation-hamburger {
  width: 30px;
  height: 22px;
  position: absolute;
  margin: 25px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 10px;
  right: 10px;
  outline: none;
}

#top-menu-mobile-navigation-hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #3a888e;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.top-nav-light #top-menu-mobile-navigation-hamburger span {
  background: #fff;
}
#top-menu-mobile-navigation-hamburger span:nth-child(1) {
  top: 0px;
}

#top-menu-mobile-navigation-hamburger span:nth-child(2) {
  top: 9px;
}

#top-menu-mobile-navigation-hamburger span:nth-child(3) {
  top: 18px;
}

#top-menu-mobile-navigation-hamburger.hamburger-open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#top-menu-mobile-navigation-hamburger.hamburger-open span:nth-child(2) {
  opacity: 0;
  left: -30px;
}

#top-menu-mobile-navigation-hamburger.hamburger-open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.top-menu-mobile-navigation {
  display: none;
}

.top-nav-light .top-menu.top-menu-mobile-open li a {
  color: #373b47;
}

.top-nav-light .top-menu.top-menu-mobile-open li li a {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .top-menu li {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .top-nav {
    margin-bottom: 20px;
  }

  .top-menu,
  .top-nav,
  .top-menu li {
    flex-direction: column;
  }

  .top-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 80px;
    box-shadow: 0px 14px 100px rgb(161 172 200 / 10%);
    border-radius: 10px;
    padding: 20px 0;
    display: none;
  }
  .top-menu.top-menu-mobile-open {
    display: block;
  }
  .top-menu li.top-menu-item-group-start {
    padding-left: unset;
    padding-right: unset;
  }
  .top-menu li.top-menu-item-group-end {
    padding-right: unset;
    padding-left: unset;
  }
  .top-menu li.top-menu-item-group-start,
  .top-menu li.top-menu-item-group-end {
    background: transparent;

    padding: 20px 0 30px 0;
  }
  .top-menu li.top-menu-item-group-start a,
  .top-menu li.top-menu-item-group-end a {
    color: #373b47;
    text-transform: uppercase;
    font-family: 'Gilroy Bold';
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }
  .top-submenu {
    position: relative;
  }
  .top-submenu {
    width: 100%;
    text-align: center;
    left: 0;
    top: 10px;
  }
  .top-menu-flag {
    margin-bottom: 15px;
  }
  .top-submenu li:first-child:after {
    content: unset;
  }
  .top-menu-mobile-navigation {
    display: block;
  }
}
