vm-player {
  --vm-player-theme: #f4a418;
  --vm-player-bg: transparent !important;
  --vm-player-border-radius: 20px !important;
  --vm-control-color: #f4a418 !important;
  --vm-time-color: #f4a418 !important;
}

video {
  width: 100%;
  height: 100%;
}

video.sc-vm-file {
  border-radius: 16px;
}

@media screen and (max-width: 1280px) {
}
