.support-search-form {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 710px;
  margin: 30px auto 20px;
}

.support-search-input {
  width: 100%;
  height: 70px;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #7a8390;
  border: 1px solid #fff;
  padding: 0 20px 0 60px;
  box-shadow: 0px 12px 100px rgba(170, 181, 208, 0.11);
  border-radius: 3px;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}

.support-search-input:focus,
.support-search-input:focus-visible {
  border: 1px solid #4e868d;
}

.support-search-details {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
  text-align: center;
}

.support-search-input-icon {
  position: absolute;
  top: 24px;
  left: 21px;
}

@media screen and (max-width: 1280px) {
}
