input {
  border: 0;
  outline: 0;
}

input:focus {
  outline: none !important;
}

.input-radio-field {
  padding: 16px;
  background: #f9fafd;
  border: 0.5px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 40px;
}

.input-radio-field-name {
  font-family: 'Gilroy Bold';
  font-size: 16px;
  line-height: 34px;
  color: #2e2d3d;
  margin-bottom: 13px;
}

.input-radio-line {
  display: flex;
}

.input-radio-line-item {
  margin-right: 20px;
}

.input-radio-field-label {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 19px;
  color: #363f4f;
  margin-left: 10px;
}

.container-radio {
  display: block;
  position: relative;
  padding-left: 31px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio-name {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 19px;
  color: #363f4f;
}

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container-radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #d1d3d4;
  box-sizing: border-box;
  border-radius: 6px;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}

.container-radio:hover input ~ .container-radio-checkmark {
  background-color: #ccc;
}

.container-radio input:checked ~ .container-radio-checkmark {
  background-color: #4e868d;
  border: 1px solid #4e868d;
}

.container-radio-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container-radio input:checked ~ .container-radio-checkmark:after {
  display: block;
}

.container-radio .container-radio-checkmark:after {
  top: 8px;
  left: 7px;
  width: 14px;
  height: 7px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEwIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDMuNzAzODdMMy44NTcxNCA2LjY2NjgzTDkgMS4zMzM1IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4=);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1280px) {
}
