.top-notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Gilroy';
  font-size: 15px;
  color: #343e5b;
  position: relative;
  top: 10px;
}
.top-notification-close {
  margin-left: 10px;
}
