.profile-content-block {
  padding: 120px 0;
}

.profile-content-inner {
  display: flex;
  flex-direction: row;
}

/* ASIDE */
.profile-content-aside {
  flex-basis: 370px;
}

.profile-content-aside-widget-icon svg,
.profile-content-aside-widget-arrow svg {
  stroke: #323836;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}

.profile-content-aside-widget-link {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 19px;
  color: #434355;
  margin-top: 5px;
  margin-left: 20px;
}

.profile-content-aside-widget-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  background: #ffffff;
  box-shadow: 0px 10px 45px rgba(127, 145, 215, 0.1);
  border-radius: 4px;
}

.profile-content-aside-widget-item {
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  padding: 20px;
  align-items: center;
  position: relative;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}

.profile-content-aside-widget-porfile {
  background-image: url(../../../assets/imgs/aside-profile.png);
}
.profile-content-aside-widget-booking {
  background-image: url(../../../assets/imgs/aside-booking.png);
}
.profile-content-aside-widget-wallets {
  background-image: url(../../../assets/imgs/aside-booking.png);
}
.profile-content-aside-widget-package {
  background-image: url(../../../assets/imgs/aside-package.png);
}

.profile-content-aside-widget-item:last-of-type {
  border: none;
}

.profile-content-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 370px - 64px);
}

.profile-content-aside-widget-arrow {
  position: absolute;
  right: 20px;
}

.profile-content-aside-active,
.profile-content-aside-widget-item:hover {
  background-color: #4e868d;
  border-radius: 5px;
}
.profile-content-aside-active.profile-content-aside-widget-porfile,
.profile-content-aside-widget-porfile:hover {
  background-image: url(../../../assets/imgs/aside-profile-active.png);
}
.profile-content-aside-active.profile-content-aside-widget-booking,
.profile-content-aside-widget-booking:hover {
  background-image: url(../../../assets/imgs/aside-booking-active.png);
}
.profile-content-aside-active.profile-content-aside-widget-wallets,
.profile-content-aside-widget-wallets:hover {
  background-image: url(../../../assets/imgs/aside-booking-active.png);
}
.profile-content-aside-active.profile-content-aside-widget-package,
.profile-content-aside-widget-package:hover {
  background-image: url(../../../assets/imgs/aside-profile-active.png);
}

.profile-content-aside-active .profile-content-aside-widget-link,
.profile-content-aside-widget-item:hover .profile-content-aside-widget-link {
  color: #ffffff;
}

.profile-content-aside-active .profile-content-aside-widget-icon svg,
.profile-content-aside-widget-item:hover svg {
  stroke: #ffffff;
}

.profile-content-aside-active .profile-content-aside-widget-arrow svg {
  stroke: #fff;
}

/* FORM */
.profile-content-form {
  margin-left: 32px;
  width: 100%;
  max-width: 970px;
}

.profile-content-form-name {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
  color: #353535;
  margin-bottom: 22px;
}

.profile-content-form-inner {
  background: #ffffff;
  box-shadow: 0px 10px 100px rgba(169, 178, 202, 0.1);
  border-radius: 10px;
  padding: 30px 30px 50px 30px;
}

.profile-content-form-inner-wpapper {
  width: 100%;
  max-width: 770px;
}

.profile-content-form-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.profile-content-form-1-inner {
  display: flex;
  align-items: center;
}

.profile-content-form-1-name {
  font-family: 'Gilroy Bold';
  font-size: 20px;
  line-height: 134.2%;
  margin-left: 26px;
}

.profile-content-form-1-avatar {
  width: 93px;
}

.profile-content-form-1-edit {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  line-height: 134.2%;
  text-decoration-line: underline;
  color: #4e868d;
}

.profile-content-form-line {
  display: flex;
}

.profile-content-form-w50 {
  width: calc(50% - 33px);
  margin-right: 33px;
}

.profile-content-form-w45 {
  width: calc(45% - 16px);
  margin-right: 16px;
}

.profile-content-form-w50:last-of-type {
  margin-right: 0;
}

.profile-content-form-title-change {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.profile-content-form-title {
  font-family: 'Gilroy Bold';
  font-size: 18px;
  line-height: 135%;
}

.profile-content-form-change {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  line-height: 134.2%;
  text-decoration-line: underline;
  color: #4e868d;
}

.profile-content-card-remove {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #f45a18;
}

.profile-content-address-wrapper {
  background: #f9fafd;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 14px 16px;
  display: flex;
}

.profile-content-address-img {
  width: 18px;
}

.profile-content-address {
  width: 45px;
  height: 45px;
  background: rgba(78, 134, 141, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 16px;
}

.profile-content-address-name-1 {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #1a1b2d;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.profile-content-address-name-2 {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 130%;
  color: #535763;
}

.profile-content-language-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.profile-content-language-list-item {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px 20px;
  background: #f9fafd;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  margin-right: 11px;

  color: #434355;
}

@media screen and (max-width: 991px) {
  .profile-content-inner {
    flex-direction: column;
  }

  .profile-content-aside,
  .profile-content-content {
    width: 100%;
  }
  .profile-content-form {
    margin-left: 0;
  }
  .profile-content-form-line {
    flex-direction: column;
  }
  .profile-content-form-w50,
  .profile-content-form-w45 {
    width: 100%;
    margin-bottom: 20px;
  }
  .profile-content-aside {
    flex-basis: unset;
    margin-bottom: 40px;
  }
}
