.icon-data-wrapper {
  background: #f9fafd;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 14px 16px;
  display: flex;
  transition: all 0.7s ease;
}
.icon-data-wrapper-active,
.icon-data-wrapper:hover {
  background: #4e868d;
  border: 1px solid #4e868d;
}

.icon-data-img {
  width: 18px;
}

.icon-data {
  width: 45px;
  height: 45px;
  background: rgba(78, 134, 141, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 16px;
  transition: all 0.7s ease;
}

.icon-data-name-1 {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #1a1b2d;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: left;
  transition: all 0.7s ease;
}

.icon-data-name-2 {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 130%;
  color: #535763;
  transition: all 0.7s ease;
  text-align: left;
}

.icon-data-wrapper-active .icon-data-name-1,
.icon-data-wrapper-active .icon-data-name-2,
.icon-data-wrapper:hover .icon-data-name-1,
.icon-data-wrapper:hover .icon-data-name-2 {
  color: #fefeff;
}
.icon-data-wrapper-active .icon-data,
.icon-data-wrapper:hover .icon-data {
  background: #fefeff;
}

@media screen and (max-width: 1280px) {
}
