.numbers-block {
  background: #f5f5f5;
  padding: 89px 0 80px 0;
}
.numbers-block-inner {
  display: flex;
}
.numbers-block-1 {
  font-family: 'Gilroy Bold';
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}
.numbers-block-2 {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 170%;
  color: #535763;
  margin-top: 20px;
}
.numbers-block-3 {
  margin-left: 140px;
  display: flex;
}
.numbers-block-column {
  /* margin-right: 90px; */
  display: flex;
  flex-wrap: wrap;
}
.numbers-block-item {
  margin-bottom: 25px;
  width: 50%;
}
.numbers-block-item-number {
  font-family: 'Gilroy Bold';
  font-weight: bold;
  font-size: 32px;
  line-height: 50px;
}
.numbers-block-item-descr {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 150%;
}

@media screen and (max-width: 1024px) {
  .numbers-block-inner {
    flex-direction: column;
  }
  .numbers-block-0,
  .numbers-block-3 {
    width: 100%;
    margin-left: 0;
  }
  .numbers-block-3 {
    display: flex;
    justify-content: center;
  }
  .numbers-block-column {
    margin-right: 45px;
  }
  .numbers-block-column:last-of-type {
    margin-right: 0;
  }
}
