.booking-section1 {
  background: url(../../assets/imgs/bookings-banner.jpg) center top no-repeat;
  background-size: cover;
  min-height: 485px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.booking-content {
  background: #fbfbfb url(../../assets/imgs/two-ellipse-bg.png) center center no-repeat;
  background-size: cover;
}
