input {
  border: 0;
  outline: 0;
}

input:focus {
  outline: none !important;
}

::placeholder {
  color: #ababab;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ababab;
}

::-ms-input-placeholder {
  color: #ababab;
}

.input-field {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 40px;
}

.input-field-label {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 16px;
  color: #6b7287;
  margin-bottom: 12px;
}
.input-field-label.label-uppercase {
  text-transform: uppercase;
}
.input-field-label.label-black {
  color: #2d2e3f;
}
.input-field-label.label-space {
  margin-bottom: 16px;
}
.input-field-label.label-big {
  font-size: 16px;
  font-weight: 600;
}

.input-field-text {
  width: 100%;
  background: #f9fafd;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  padding: 16px;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: #363f4f;
  font-family: 'Gilroy';
  font-size: 15px;
  line-height: 17px;
  height: 54px;
}
.input-field-text.input-white {
  background: #fff;
}

.input-field-text:active,
input:focus,
.input-field-text:focus-visible {
  border: 1px solid #4e868d !important;
}

.input-field-text:focus + label,
.input-field-text:focus-visible + label {
  color: #4e868d;
}

@media screen and (max-width: 1280px) {
}
