.service-top-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 50px;
}
.service-top-left {
  width: 40%;
  /* max-width: 550px; */
  margin-right: 32px;
  background: #f2f2f6;
  border-radius: 14px;
  padding: 60px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service-top-right {
  width: 60%;
  /* max-width: 950px; */
  border-radius: 14px;
}
.service-top-right video {
  width: 100%;
  height: auto;
  border-radius: 14px;
}
.service-top-header {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 61px;
  width: 100%;
  max-width: 350px;
  margin: 0;
}
.service-top-text {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 170%;
  color: #545869;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .service-top-inner {
    display: flex;
    flex-direction: column;
  }
  .service-top-right,
  .service-top-left {
    max-width: unset;
    margin: 20px 0;
    width: 100%;
  }
  .service-top-button {
    margin-top: 20px;
  }
  .service-top-button {
    width: 100%;
  }
}
