.why-us-numbers-block {
  background: url(../../../assets/imgs/background-feedback.png) top center no-repeat;
  background-size: cover;
  margin-bottom: 124px;
  padding: 105px 0;
}

.why-us-numbers-block-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why-us-numbers-block-name {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
  color: #1a1b2d;
  text-align: center;
  margin-bottom: 34px;
}

.why-us-numbers-block-numbers {
  display: flex;
}

.why-us-numbers-block-number-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

.why-us-numbers-block-number {
  font-family: 'Gilroy Bold';
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  color: #1a1b2d;
}

.why-us-numbers-block-number-text {
  font-family: 'Gilroy';
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #434355;
}

@media screen and (max-width: 1280px) {
  .why-us-numbers-block-numbers {
    flex-wrap: wrap;
    justify-content: center;
  }
  .why-us-numbers-block-number-item {
    margin: 0 50px 20px;
  }
}
