.login-content-block-section {
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(108, 123, 146, 0.1);
  border-radius: 10px;
  width: 620px;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
}

.login-content-name {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 16px;
}

.login-content-name-line {
  width: 40px;
  height: 4px;
  background: #feb968;
  margin-bottom: 30px;
}

.login-content-btn-submit {
  padding: 16px;
  font-family: 'Gilroy';
  font-size: 20px;
  color: #ffffff;
  box-shadow: 0px 3px 20px rgba(108, 123, 146, 0.1);
  border-radius: 10px;
  border: none;
  background: #4e868d;
  margin-bottom: 50px;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}

.login-content-btn-submit:hover {
  background: #41757c;
  box-shadow: none;
}

.container-small {
  max-width: 335px;
  margin: 0 auto;
  width: 100%;
}

.container-small-name {
  margin-bottom: 14px;
  text-align: center;
  position: relative;
}

.container-small-name-line {
  height: 1px;
  width: 100%;
  background: rgba(193, 193, 193, 0.5);
  position: absolute;
  top: 13px;
}

.container-small-name-wrapper {
  display: inline-block;
  background: #fff;
  padding: 0 10px;
  text-align: center;
  position: relative;
  z-index: 1;
  font-family: 'Gilroy';
  font-size: 16px;
  text-align: center;
  color: #202020;
}

.container-small-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.container-small-btn {
  display: flex;
  padding: 11px 15px 11px 11px;
  width: 160px;
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(108, 123, 146, 0.1);
  border-radius: 100px;
  align-items: center;
  border: 1px solid #fff;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}

.container-small-btn:hover {
  border: 1px solid #dfdfdf;
  box-shadow: unset;
}

.container-small-btn-name {
  font-family: 'Gilroy';
  font-size: 16px;
  color: #000000;
  margin-left: 13px;
}

.container-small-remember {
  font-family: 'Gilroy';
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #120d26;
}
.container-small-remember a {
  color: #4e868d;
}

.login-content-names {
  display: flex;
  justify-content: space-between;
}

.login-content-name-field {
  width: calc(50% - 20px);
}

.container-small-color {
  color: #3a888e;
}

.login-content-numbers {
  text-align: center;
  margin-bottom: 60px;
}

.login-content-number {
  width: calc(25% - 20px);
}

.verification-field-fix {
}

/* input {
    border: 0;
    outline: 0;
}

input:focus {
    outline: none !important;
}

::placeholder {
    color: #ABABAB;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ABABAB;
}

::-ms-input-placeholder {
    color: #ABABAB;
} */

/* .verification-field-fix input {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 40px;
} */

body .verification-field-fix {
  width: 100% !important;
  max-width: 310px;
  text-align: center;
  margin: 0 auto;
}

body .verification-field-fix > div {
  display: flex;
  justify-content: space-between;
}

body .verification-field-fix input {
  width: 100%;
  background: #fff;
  border: 1px solid #e4dfdf !important;
  border-radius: 12px !important;
  padding: 16px !important;
  transition: all 0.7s !important;
  -webkit-transition: all 0.7s !important;
  -moz-transition: all 0.7s !important;
  -ms-transition: all 0.7s !important;
  -o-transition: all 0.7s !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
  color: #363f4f;
  font-family: 'Gilroy';
  font-size: 24px;
  line-height: 31px;
  height: 54px;
}

body .verification-field-fix input:last-of-type {
  border-right: 1px solid #dfdfdf;
}

body .verification-field-fix input:focus,
body .verification-field-fix input:focus-visible {
  border: 1px solid #4e868d !important;
}

.login-content-info {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 25px;
  color: #645b8a;
  margin-bottom: 45px;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 650px) {
  .login-content-block-section {
    width: 100%;
    padding: 20px 30px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .container-small-btns {
    flex-direction: column;
    align-items: center;
  }

  .container-small-btn {
    margin-bottom: 10px;
  }
  .login-content-name-field {
    width: 100%;
    margin-right: 0;
  }
  .login-content-names {
    flex-wrap: wrap;
  }
}
