.feedback-block {
  background: url(../../../assets/imgs/background-feedback.png) top center no-repeat;
  background-size: contain;
  margin-bottom: 124px;
}

.feedback-name-block {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
  padding-top: 120px;
  margin-bottom: 60px;
}

.feedback-item-out {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  background: #ffffff;
  box-shadow: 0px 18px 50px rgba(181, 188, 210, 0.12);
  border-radius: 10px;
  margin: 0 20px;
  justify-content: center;
}

.feedback-item-text {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 170%;
  margin-bottom: 30px;
}

.feedback-item-out:last-of-type {
  margin-right: 0;
}
.feedback-item-account {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.feedback-item-account-img {
  width: 48px;
  border-radius: 50%;
  margin-right: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.feedback-item-account-info {
}
.feedback-item-account-name {
  font-family: 'Gilroy Bold';
  font-size: 20px;
  line-height: 27px;
  color: #313844;
}
.feedback-item-account-job {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 21px;
  color: #788090;
  opacity: 0.9;
}
