.selected-dial-code {
  pointer-events: none;
}

.intl-tel-input-fix {
}

.intl-tel-input-fix .selected-dial-code {
  padding-left: 0 !important;
  font-family: 'Gilroy';
  font-size: 16px;
}

.intl-tel-input-fix .selected-flag {
  width: 90px !important;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  padding: 0 5px;
  background: #fff !important;
  border-right: 1px solid #e8e8e8;
}

.intl-tel-input-fix .iti-flag {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input,
.intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input[type='text'],
.intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input[type='tel'],
.intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input,
.intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type='text'],
.intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type='tel'],
.intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input,
.intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type='text'],
.intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type='tel'],
.intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input,
.intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input[type='text'],
.intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input[type='tel'] {
  padding-left: 100px !important;
}

@media screen and (max-width: 1280px) {
}
