.booking-content-form-name {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
  color: #353535;
  margin-bottom: 22px;
}

.booking-content-section {
  width: 100%;
  max-width: 1000px;
}

.booking-content-tabs-search {
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding-right: 7px;
}

.booking-content-tabs {
  display: flex;
}

.booking-content-tab {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 27px;
  color: #a0adbc;
  padding: 20px 30px;
  border-bottom: 2px solid #fff;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  cursor: pointer;
}

.booking-content-tab-active,
.booking-content-tab:hover {
  color: #4e868d;
  border-bottom: 2px solid #4e868d;
}

.booking-content-search {
  width: 260px;
}

.booking-content-bookings-list-item {
  margin-bottom: 20px;
}

.booking-content-bookings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.booking-content-bookings-header-left {
  align-items: center;
}

.booking-content-bookings-header {
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
}

.booking-content-bookings-header-name {
  font-family: 'Gilroy Bold';
  font-size: 20px;
  line-height: 24px;
  color: #2a323e;
  margin-bottom: 14px;
}

.booking-content-bookings-header-categories {
  display: flex;
  margin-bottom: 24px;
}

.booking-content-bookings-header-category {
  font-family: 'Gilroy';

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #6d717f;
}

.booking-content-bookings-header-categor-wrapper {
  display: flex;
}

.booking-content-bookings-header-categor-wrapper:last-of-type svg {
  display: none;
}

.booking-content-bookings-header-category-icon {
  margin: 0 10px;
}

.booking-content-bookings-header-details {
  display: flex;
  justify-content: space-between;
}

.booking-content-bookings-header-detail-name {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;

  color: #5d616e;
}

.booking-content-bookings-header-detail-value {
  font-family: 'Gilroy';

  font-size: 14px;
  line-height: 16px;
  color: #373b47;
  margin-left: 5px;
}

.booking-content-bookings-header-detail {
  display: flex;
}

.booking-content-bookings-header-detail-price {
  font-weight: 600;
}

.booking-btn-modify {
  background: rgba(78, 134, 141, 0.1);
  color: #4e868d;
}

.booking-btn-rebook {
  background: rgba(244, 164, 24, 0.1);
  color: #f4a418;
}

.booking-content-bookings-info {
  background-color: #fff;
  padding: 32px 32px 50px;
  transition: opacity 0.3s, visibility 0.9s;
  -webkit-transition: opacity 0.3s, visibility 0.9s;
  -moz-transition: opacity 0.3s, visibility 0.9s;
  -ms-transition: opacity 0.3s, visibility 0.9s;
  -o-transition: opacity 0.3s, visibility 0.9s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  margin-top: 0px;
}

.booking-content-bookings-info-active {
  visibility: visible;
  opacity: 1;
  position: relative;
  margin-top: 3px;
}

.booking-content-bookings-info-line {
  margin-bottom: 32px;
}

.booking-content-bookings-info-name {
  font-family: 'Gilroy Bold';
  font-size: 16px;
  line-height: 138.2%;
  color: #363f4f;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.booking-content-form-w45 {
  width: calc(45% - 16px);
  margin-right: 16px;
}

.booking-content-bookings-info-line-btns {
  display: flex;
  justify-content: space-between;
}

.booking-content-bookings-cancel-btn,
.booking-content-bookings-update-btn {
  border: none;
}

.booking-content-bookings-update-btn {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  background: #f4a418;
  box-shadow: 0px 56px 80px rgba(170, 181, 208, 0.1);
  border-radius: 6px;
}

.booking-content-bookings-cancel-btn {
  background: transparent;
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ff5b5b;
  border: 1px solid #fff;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  padding: 10px 28px;
  border-radius: 6px;
}

.booking-content-bookings-cancel-btn:hover {
  border: 1px solid #ff5b5b;
}

@media screen and (max-width: 1280px) {
  .booking-content-search {
    order: 0;
  }

  .booking-content-tabs {
    order: 1;
  }

  .booking-content-search,
  .booking-content-tabs {
    width: 100%;
  }

  .booking-content-tabs-search {
    flex-wrap: wrap;
  }

  .booking-content-tabs-search {
    padding: 7px;
  }
}

@media screen and (max-width: 992px) {
  .booking-content-bookings-header-details {
    flex-wrap: wrap;
  }

  .booking-content-bookings-header-detail-value {
    margin-left: 0px;
  }

  .booking-content-bookings-header-detail {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .booking-content-bookings-header-left,
  .booking-content-bookings-header {
    flex-wrap: wrap;
  }

  .booking-content-bookings-header-name,
  .booking-content-bookings-header-categories,
  .booking-content-bookings-header-details,
  .booking-content-bookings-header-left,
  .booking-content-bookings-header-right {
    width: 100%;
  }
}
