.video-block {
  background: url(../../../assets/imgs/big-elips-bg.png) right center no-repeat;
  padding-top: 135px;
  padding-bottom: 135px;
  background-size: contain;
}

.video-block-out {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.video-block-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  align-items: flex-start;
}
.video-block-text1 {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
}
.video-block-text2 {
  font-family: 'Quicksand';
  font-size: 16px;
  line-height: 170%;
  color: #656977;
  margin: 18px 0 50px;
}

.video-block-video {
  width: 50%;
}

@media screen and (max-width: 1280px) {
  .video-block-text {
    margin-left: 0px;
  }
}
@media screen and (max-width: 991px) {
  .video-block-out {
    flex-direction: column;
    justify-content: center;
  }

  .video-block-video {
    width: 100%;
    margin-top: 40px;
  }
}
