.contacts-block {
  padding: 45px 0;
  background: #4e868d;
}
.contacts-block-inner {
  display: flex;
}
.contacts-block-text1 {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
  color: #fdfdfd;
}
.contacts-block-2-wrapper {
  display: flex;
}
.contacts-block-text2 {
  font-family: 'Quicksand';
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}
.contacts-block-1 {
  margin-right: 5%;
}
.contacts-block-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
}
.contacts-block-2:last-of-type {
  margin-right: 0;
}
.contacts-block-ico {
  width: 85px;
  margin-right: 30px;
}
.contacts-block-col-text {
  font-family: 'Quicksand';
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.9;
}
.contacts-block-col-link {
  font-family: 'Quicksand Bold';
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
}
.contacts-block-col-link:hover {
  color: #ffffff;
}
@media screen and (max-width: 1280px) {
  .contacts-block-inner {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts-block-1 {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .contacts-block-2 {
    flex-basis: 50%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .contacts-block-2-wrapper {
    width: 100%;
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .contacts-block-2 {
    flex-basis: 100%;
    width: 100%;
    margin-right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contacts-block-2-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    justify-content: start;
  }
}
@media screen and (max-width: 520px) {
  .contacts-block-ico {
    width: 60px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 350px) {
  .contacts-block-ico {
    width: 40px;
    margin-right: 10px;
  }
  .contacts-block-col-link {
    font-size: 18px;
  }
}
