.counter-with-buttons-wrapper {
  display: flex;
  align-items: center;
}

.counter-with-buttons-btn-minus,
.counter-with-buttons-btn-plus {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: drop-shadow(0px 20px 30px #eef0f2);
  border: 1px solid #4e868d;
  color: #4e868d;
  cursor: pointer;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}

.counter-with-buttons-btn-minus svg,
.counter-with-buttons-btn-plus svg {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}

.counter-with-buttons-btn-minus svg {
  stroke: #4e868d;
}

.counter-with-buttons-btn-plus svg {
  fill: #4e868d;
}

.counter-with-buttons-btn-minus:hover,
.counter-with-buttons-btn-plus:hover {
  background: #4e868d;
}

.counter-with-buttons-btn-minus:hover svg {
  stroke: #fff;
}

.counter-with-buttons-btn-plus:hover svg {
  fill: #fff;
}

.counter-with-buttons-value {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #363f4f;
  margin: 0 12px;
  width: 20px;
  text-align: center;
}

.counter-with-buttons-disabled,
.counter-with-buttons-disabled:hover {
  border: 1px solid #d1d3d4;
  background: #fff;
  cursor: auto;
}

.counter-with-buttons-disabled svg,
.counter-with-buttons-disabled:hover svg {
  stroke: #d1d3d4;
}

.counter-with-buttons-disabled svg,
.counter-with-buttons-disabled:hover svg {
  fill: #d1d3d4;
}

@media screen and (max-width: 1280px) {
}
