.service-list-block-name {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
  margin-top: 100px;
}
.service-list {
  margin-bottom: 130px;
}

.service-item-block-simple {
  display: flex;
  flex-direction: column;
  margin: 0 14px;
}
.service-item-block-simple:last-of-type {
  margin-right: 0;
}
.service-item-img-simple {
  width: 100%;
}
.service-item-name-simple {
  font-family: 'Quicksand Bold';
  font-size: 20px;
  line-height: 25px;
  color: #2a323e;
  margin-top: 18px;
  margin-bottom: 12px;
}
.service-item-text-simple {
  font-family: 'Quicksand';
  font-size: 16px;
  line-height: 170%;
  color: #656977;
  max-height: 80px;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .service-list {
    margin-bottom: 40px;
  }
}
