.types-of-property-list {
  display: flex;
  flex-wrap: wrap;
}

.types-of-property-item {
  padding: 9px 15px;
  background: #fff;
  border: 1px solid #d1d1d1;
  margin-right: 14px;
  margin-bottom: 10px;
  border-radius: 100px;
  cursor: pointer;
  color: #b4b4b4;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}

.types-of-property-item:hover,
.types-of-property-item-active {
  background: #4e868d;
  border: 1px solid #4e868d;
  color: #fff;
}

@media screen and (max-width: 1280px) {
}
