input {
  border: 0;
  outline: 0;
}

input:focus {
  outline: none !important;
}

.nput-radio-round-field {
  /* padding: 16px;
  background: #f9fafd;
  border: 0.5px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 40px; */
}

.input-radio-round-field-name {
  font-family: 'Gilroy Bold';
  font-size: 16px;
  line-height: 34px;
  color: #2e2d3d;
  margin-bottom: 13px;
}

.input-radio-round-line {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.input-radio-round-line-item {
  margin-right: 200px;
}
.input-radio-round-line-item:last-of-type {
  margin-right: 0;
}

.container-radio-round {
  display: block;
  position: relative;
  padding-left: 31px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio-round-name {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 19px;
  color: #363f4f;
}

.container-radio-round input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container-radio-round-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #d1d3d4;
  box-sizing: border-box;
  border-radius: 50%;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.container-radio-round:hover input ~ .container-radio-round-checkmark {
  background-color: #ccc;
}

.container-radio-round input:checked ~ .container-radio-round-checkmark {
  border: 1px solid #87cee0;
  background: url(../../../assets/imgs/input-radio-circle.png) center center no-repeat;
  background-size: contain;
}

.container-radio-round-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container-radio-round input:checked ~ .container-radio-round-checkmark:after {
  display: block;
}

@media screen and (max-width: 1280px) {
}
