[dir='rtl'] .foo {
}
[dir='rtl'] html {
  direction: rtl;
}
[dir='rtl'] body {
  direction: rtl;
}

[dir='rtl'] .input-field-text {
  text-align: right;
}

/* Breadcrumbs */
[dir='rtl'] .breadcrumbs-svg {
  transform: rotate(180deg);
}

/* Top Menu */
[dir='rtl'] .top-menu li.top-menu-item-group-start {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 0 20px 20px 0;
}
[dir='rtl'] .top-menu li.top-menu-item-group-end {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 20px 0 0 20px;
}
[dir='rtl'] #top-menu-mobile-navigation-hamburger {
  right: auto;
  left: 10px;
}

[dir='rtl'] .top-menu .has-sub-menu:after {
  right: auto;
  left: 10px;
}

[dir='rtl'] .top-menu li.top-menu-item-group-start a {
  border-right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.19);
}

/* Index */
[dir='rtl'] .fixed-conntacts-section {
  right: auto;
  left: 0;
}
[dir='rtl'] .fixed-conntacts-section-item {
  left: -10px;
  right: unset;
}
[dir='rtl'] .fixed-conntacts-section-item:hover {
  right: unset;
  left: 0px;
}

[dir='rtl'] .fixed-conntacts-background {
  padding: 9px 9px 9px 18px;
  border-radius: 0 30px 30px 0;
}
[dir='rtl'] .service-item-block {
  text-align: right;
}
[dir='rtl'] .holistic-block-50 {
  margin-right: 0;
  margin-left: 33px;
}
[dir='rtl'] .holistic-block-50:last-of-type {
  margin-left: 0;
}
[dir='rtl'] .service-item-block-simple {
  text-align: right;
}
[dir='rtl'] .download-image {
  margin-right: auto;
  margin-left: 220px;
}
[dir='rtl'] .btn-img {
  margin-right: auto;
  margin-left: 10px;
}
[dir='rtl'] .contacts-block-ico {
  margin-right: auto;
  margin-left: 30px;
}

[dir='rtl'] .why-item-link-icon {
  transform: rotate(180deg);
  margin-left: auto;
  margin-right: 10px;
}

[dir='rtl'] .why-item-out {
  margin-right: 0;
  margin-left: 20px;
}

[dir='rtl'] .section1-search-input {
  border-right: none;
  border-left: 1.5px solid #dddddd;
}
[dir='rtl'] .section1-search-input:active,
[dir='rtl'] .section1-search-input:focus,
[dir='rtl'] .section1-search-input:focus-visible {
  border: none !important;
  border-left: 1.5px solid #dddddd !important;
}

/* Service */
[dir='rtl'] .service-top-left {
  margin-right: auto;
  margin-left: 32px;
}

[dir='rtl'] .news-categories-aside-search-input {
  border-right: 1px solid #dfe3ef;
  border-left: none;
  border-radius: 0px 4px 4px 0px;
}

[dir='rtl'] .news-categories-aside-search-button {
  border-radius: 4px 0 0 4px;
}

/* NewsBlogDetails */
[dir='rtl'] .news-blog-content-block-wrapper p:first-child::first-letter {
  margin-right: auto;
  margin-left: 5px;
  float: right;
}

[dir='rtl'] .news-blog-content-block-author-photo {
  margin-right: auto;
  margin-left: 32px;
}

/* Support */
[dir='rtl'] .support-contact-item {
  margin-right: 0;
  margin-left: 40px;
}

[dir='rtl'] .support-contact-item:last-of-type {
  margin-left: 0;
}

[dir='rtl'] .support-faq-inner-col {
  margin-right: 0;
  margin-left: 40px;
}

[dir='rtl'] .support-drop-message-form-block {
  margin-right: 0;
  margin-left: 100px;
}

[dir='rtl'] .support-drop-message-form-line-50 {
  margin-right: 0px;
  margin-left: 40px;
}
[dir='rtl'] .support-drop-message-form-line-50:last-of-type {
  margin-left: 0px;
}

[dir='rtl'] .support-drop-message-office-name {
  margin-left: 0;
  margin-right: 10px;
}

[dir='rtl'] .support-contact-item-link-arrow {
  transform: rotate(180deg);
  margin-left: 0;
  margin-right: 10px;
}

/* Experts */
[dir='rtl'] .experts-panel-tag {
  margin-right: 0;
  margin-left: 16px;
}

/* Profile */
[dir='rtl'] .profile-content-aside-widget-list {
  padding-right: 0;
}
[dir='rtl'] .profile-content-aside-widget-item {
  background-position: 93% center;
}
[dir='rtl'] .profile-content-aside-widget-arrow {
  right: auto;
  left: 20px;
  transform: rotate(180deg);
}

[dir='rtl'] .profile-content-aside-widget-link {
  margin-left: 0px;
  margin-right: 30px;
}

[dir='rtl'] .profile-content-form {
  margin-left: 0;
  margin-right: 32px;
}

[dir='rtl'] .profile-content-form-1-name {
  margin-left: px;
  margin-right: 26px;
}

[dir='rtl'] .profile-content-form-w50,
[dir='rtl'] .profile-content-form-w45 {
  margin-right: 0px;
  margin-left: 40px;
}
[dir='rtl'] .profile-content-form-w50:last-of-type,
[dir='rtl'] .profile-content-form-w45:last-of-type {
  margin-left: 0px;
}

[dir='rtl'] .container-radio {
  padding-left: 0;
  padding-right: 30px;
}

[dir='rtl'] .container-radio-checkmark {
  left: auto;
  right: 0;
}

[dir='rtl'] .select-field-text {
  background-position: left 0.7em top 50%, 0 0;
}

[dir='rtl'] .profile-content-card-logo-img {
  margin-right: 0;
  margin-left: 16px;
}

[dir='rtl'] .card-dots {
  margin-right: 0px;
  margin-left: 10px;
}

[dir='rtl'] .icon-data {
  margin-right: 0;
  margin-left: 16px;
}

[dir='rtl'] .input-radio-line-item {
  margin-right: 0px;
  margin-left: 20px;
}

[dir='rtl'] .booking-search-icon {
  right: auto;
  left: 15px;
}

[dir='rtl'] .booking-content-bookings-header-detail {
  margin-right: auto;
  margin-left: 60px;
}

[dir='rtl'] .wallets-content-wrapper-link-icon {
  transform: rotate(180deg);
  margin-left: 0px;
  margin-right: 10px;
}

/* sign-in */
[dir='rtl'] .container-small-btn-name {
  margin-left: 0px;
  margin-right: 13px;
}

[dir='rtl'] .country-list .country {
  text-align: right;
}

[dir='rtl'] .intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input,
[dir='rtl'] .intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input[type='text'],
[dir='rtl'] .intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input[type='tel'],
[dir='rtl'] .intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input,
[dir='rtl'] .intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type='text'],
[dir='rtl'] .intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type='tel'],
[dir='rtl'] .intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input,
[dir='rtl'] .intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type='text'],
[dir='rtl'] .intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type='tel'],
[dir='rtl'] .intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input,
[dir='rtl'] .intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input[type='text'],
[dir='rtl'] .intl-tel-input-fix .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-5 input[type='tel'] {
  padding-left: 0px !important;
  padding-right: 100px !important;
}

[dir='rtl'] .intl-tel-input-fix .selected-flag {
  border-right: none;
  border-left: 1px solid #e8e8e8;
}

[dir='rtl'] .select-input-fix .select-field-text {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
[dir='rtl'] .select-input-fix .input-field-text {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* booking */
[dir='rtl'] .service-booking-item {
  margin-right: 0;
  margin-left: 32px;
}
[dir='rtl'] .service-booking-block-main {
  margin-right: 0;
  margin-left: 14px;
}
[dir='rtl'] .service-booking-block-aside-section-name-icon svg {
  transform: rotate(180deg);
}

[dir='rtl'] .service-booking-item-btn-back {
  margin-right: 0px;
  margin-left: 20px;
}

[dir='rtl'] .contacts-block-2 {
  margin-right: 20px;
  margin-left: 70px;
}
