@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;

  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../assets/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
    url('../assets/fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
    url('../assets/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy Bold';
  font-style: normal;
  font-weight: 700;

  src: local('Gilroy Bold'), local('Gilroy-Bold'), url('../assets/fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
    url('../assets/fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
    url('../assets/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;

  src: local('Quicksand Regular'), local('Quicksand-Regular'),
    url('../assets/fonts/Quicksand/Quicksand-Regular.woff2') format('woff2'),
    url('../assets/fonts/Quicksand/Quicksand-Regular.woff') format('woff'),
    url('../assets/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand Bold';
  font-style: normal;
  font-weight: 700;

  src: local('Quicksand Bold'), local('Quicksand-Bold'),
    url('../assets/fonts/Quicksand/Quicksand-Bold.woff2') format('woff2'),
    url('../assets/fonts/Quicksand/Quicksand-Bold.woff') format('woff'),
    url('../assets/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;

  src: local('Open Sans Regular'), local('Open-Sans-Regular'),
    url('../assets/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
    url('../assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

body {
  color: #373b47;
  overflow-x: hidden;
}

body a {
  color: #f4a418;
  text-decoration: none;
  transition: all 0.7s ease;
}
body a:hover {
  color: #f4a418;
}
* {
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1530px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.container-footer {
  margin: 0 auto;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.clearfix {
  clear: both;
}

.page-name-wrapper {
  display: flex;
  flex: 1;
}
.page-name-breadcrumbs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

/* SLIDER */
body .alice-carousel__prev-btn [data-area]::after,
body .alice-carousel__next-btn [data-area]::after {
  content: '';
}
body .alice-carousel__next-btn {
  background: url(../assets/imgs/arrow-right.png) #fff center center no-repeat;
  background-size: 16px;
}
body .alice-carousel__prev-btn {
  background: url(../assets/imgs/arrow-left.png) #fff center center no-repeat;
  background-size: 16px;
}
body .alice-carousel__next-btn:hover,
body .alice-carousel__prev-btn:hover {
  background-color: #f5f5f5;
}

body .alice-carousel__prev-btn-item,
body .alice-carousel__next-btn-item {
  padding: 18px;
}

/* POPUP */
/* body .popup-content {
  margin: auto;
  background: #fefeff;
  box-shadow: 0px 12px 40px rgba(205, 206, 210, 0.1);
  border-radius: 16px;
  width: 100%;
  max-width: 620px;
  padding: 30px;
  position: relative;
} */
body .popup-overlay {
  overflow: scroll;
  background: rgba(15, 25, 35, 0.79);
  padding: 20px;
}
body .popup-content__close {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #fdfdfd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  color: #fb585d;
  font-size: 22px;
  font-weight: 700;
  transition: all 0.7s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: rotate(45deg); */
}
body .popup-content__close:hover {
  background: #f4a418;
  color: #fff;
}
