.wallets-content-form-name {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
  color: #353535;
  margin-bottom: 22px;
}

.wallets-content-section {
  width: 100%;
  max-width: 1000px;
}

.wallets-content-balance {
  display: flex;
  padding: 22px 32px;
  background: #4e868d;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.wallets-content-balance-header {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
}

.wallets-content-balance-aed {
  font-family: 'Gilroy';
  font-weight: bold;
  font-size: 20px;
  text-align: right;
  letter-spacing: 1px;
  color: #f4a418;
}

.wallets-content-wrapper {
  padding: 32px 30px;
  background: #ffffff;
  box-shadow: 0px 10px 100px rgba(169, 178, 202, 0.1);
  border-radius: 10px;
  margin-bottom: 24px;
}

.wallets-content-wrapper-name {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #2a323e;
  margin-bottom: 14px;
}

.wallets-content-wrapper-text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.wallets-content-wrapper-text {
  width: 100%;
  max-width: 680px;
}

.wallets-content-wrapper-text-p {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 170%;
  color: #535763;
}

.wallets-content-wrapper-packages {
  display: flex;
  justify-content: space-between;
}

.wallets-content-wrapper-package {
  display: flex;
  flex-direction: column;
  background-color: #fafafc;
  border-radius: 14px;
  /* align-items: center; */
  width: calc(33% - 20px);
  padding: 34px 30px 40px 30px;
  text-align: center;
}

.wallets-content-wrapper-package-name {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #2f354a;
  margin-bottom: 7px;
}

.wallets-content-wrapper-package-price {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #353535;
  margin-bottom: 21px;
}

.wallets-content-wrapper-package-sale {
  background: rgba(78, 134, 141, 0.1);
  border-radius: 4px;
  padding: 14px 0;
  margin-bottom: 21px;
  font-family: 'Gilroy';
  font-size: 17px;
  text-align: center;
  color: #2f354a;
}

.wallets-content-wrapper-package-list {
  text-align: left;
  margin-bottom: 40px;
}

.wallets-content-wrapper-package-list-item-svg {
  margin-right: 10px;
}

.wallets-content-wrapper-package-list-item {
  font-family: 'Gilroy';
  font-size: 17px;
  line-height: 32px;
  color: #2f354a;
  margin-bottom: 17px;
}

.wallets-content-wrapper-package-btn {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: #f4a418;
  border-radius: 4px;
  padding: 9px 0;
  cursor: pointer;
}

.wallets-content-wrapper-package-popular-ribbon {
  display: none;
}

.wallets-content-wrapper-package-popular {
  background-color: #4e868d;
  position: relative;
}

.wallets-content-wrapper-package-popular .wallets-content-wrapper-package-name,
.wallets-content-wrapper-package-popular .wallets-content-wrapper-package-price,
.wallets-content-wrapper-package-popular .wallets-content-wrapper-package-sale,
.wallets-content-wrapper-package-popular .wallets-content-wrapper-package-list-item {
  color: #ffffff;
}

.wallets-content-wrapper-package-popular .wallets-content-wrapper-package-sale {
  background: rgba(255, 255, 255, 0.1);
}

.wallets-content-wrapper-package-popular .wallets-content-wrapper-package-popular-ribbon {
  display: block;
  position: absolute;
  top: -35px;
  left: -37px;
}

.wallets-content-wrapper-link {
  font-family: 'Gilroy';
  font-size: 16px;
}

.wallets-content-wrapper-link-icon {
  margin-left: 10px;
}

.wallets-content-transactions {
  display: flex;
  flex-direction: column;
}

.wallets-content-transaction {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.wallets-content-transaction:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
}

.wallets-content-transaction-name {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #353535;
  margin-bottom: 10px;
}

.wallets-content-transaction-date {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #373b47;
}

.wallets-content-transaction-value {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #353535;
}

.wallets-content-wrapper-text-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

@media screen and (max-width: 992px) {
  .wallets-content-wrapper-packages,
  .wallets-content-wrapper-text-btn {
    flex-direction: column;
  }

  .wallets-content-wrapper-package,
  .wallets-content-wrapper-btn {
    width: 100%;
    margin-bottom: 40px;
  }

  .wallets-content-wrapper-text {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
}
