.top-notification {
  display: flex;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}
.section1-text-img {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}
.section1-img {
  width: 100%;
  max-width: 680px;
  margin-bottom: 20px;
}
.section1-text-img-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 70px;
  width: 50%;
}
.section1-img-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}
.section1-text1 {
  font-family: 'Quicksand';
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 4px;
}

.section1-text2 {
  font-family: 'Gilroy Bold';
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 32px;
}

.section1-text3 {
  margin-bottom: 40px;
}

.section1-text-btn {
  display: inline-block;
  padding: 12px 16px;
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #626f78;
  background: rgba(202, 202, 202, 0.15);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.5s;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.section1-text-btn:hover {
  color: #222;
}
.hidden-banner {
  display: none;
}
.section1-search-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 32px;

  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(187, 196, 221, 0.24);
  border-radius: 100px;
  justify-content: space-between;
  max-width: 680px;
}
.section1-search-icon {
  position: absolute;
  left: 27px;
}
.section1-search-input {
  margin-left: 55px;
  padding: 5px 10px 5px 0;
  width: 55%;
  font-family: 'Gilroy';
  font-size: 16px;
  color: #7a8390;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 1.5px solid #dddddd;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  background-color: transparent;
}
.section1-search-input:active,
.section1-search-input:focus,
.section1-search-input:focus-visible {
  border: none !important;
  border-right: 1.5px solid #dddddd !important;
  outline: none;
  color: #222;
}
.section1-search-select-wrapper {
  width: 35%;
}
.section1-search-select {
  border: none;
}
.react-select-container {
  display: none;
}
.section1-search-button {
  flex-basis: 70px;
  width: 70px;
  height: 70px;
  border: none;
  background: #4e868d;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.7s ease;
}
.section1-search-button:hover {
  background: #3f737a;
}
.section1-search-wrapper-mobile {
  width: calc(100% - 70px);
  display: flex;
}
@media screen and (max-width: 1280px) {
  .section1-text-img-inner {
    width: 70%;
  }
  .section1-img-wrapper {
    width: 30%;
  }
}
@media screen and (max-width: 1024px) {
  .section1-text-img {
    flex-direction: column;
  }
  .section1-search-wrapper {
    max-width: 100%;
  }
  .section1-img {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .section1-text-img-inner {
    margin-right: 0px;
  }
  .section1-text-img-inner {
    width: 100%;
  }
  .section1-img-wrapper {
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .section1-text2 {
    font-size: 45px;
  }
}
@media screen and (max-width: 520px) {
  .section1-text2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 650px) {
  .section1-search-wrapper {
    /* flex-wrap: wrap; */
    background-color: #fff;
  }
  .section1-search-icon {
    display: none;
  }
  .section1-search-wrapper-mobile {
    background: #fff;
    /* width: 100%; */
    padding: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    flex-wrap: wrap;
  }
  .section1-search-input {
    margin-left: 10px;
    border-right: none;
  }
  .section1-search-input,
  .section1-search-select {
    width: 100%;
    flex-basis: 100%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-right: none;
  }
  .section1-search-input:focus-visible {
    border-right: none;
  }
}
