.download-block {
  background: url(../../../assets/imgs/application-bg.png) left top no-repeat;
  background-size: cover;
  padding-bottom: 120px;
}
.download-block-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.download-image {
  width: 293px;
  margin-right: 220px;
}
.download-text1 {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
  color: #373b47;
}
.download-text2 {
  font-family: 'Quicksand';
  font-size: 16px;
  line-height: 170%;
  color: #656977;
  margin: 40px 0;
  width: 490px;
}
.download-btns {
  display: flex;
}
.download-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 20px;
  background: #202536;
  border-radius: 12px;
  width: 225px;
  margin-right: 30px;
}
.btn-img {
  width: 35px;
  margin-right: 10px;
}
.btn-text1 {
  font-family: 'Quicksand';
  font-size: 16px;
  line-height: 20px;
  color: #fdfdfd;
}
.btn-text2 {
  font-family: 'Quicksand Bold';
  font-size: 20px;
  line-height: 25px;
  color: #fdfdfd;
}

@media screen and (max-width: 991px) {
  .download-block-inner {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .download-image {
    margin-right: 0;
  }
  .download-text2 {
    width: 100%;
  }
  .download-btns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .download-btn {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
