.support-name-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.support-name-block-h1 {
  font-family: 'Gilroy Bold';
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
}
