.why-us-banner {
  background: url(../../assets/imgs/why-us-banner.jpg) center top no-repeat;
  background-size: cover;
  min-height: 485px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.why-us-content-text {
  background: url(../../assets/imgs/service-content-bg.png) right center no-repeat;
  background-size: contain;
}
