.who-we-werve-block {
  margin: 140px 0;
}

.who-we-werve-name {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #1a1b2d;
  margin-bottom: 60px;
}

.who-we-werve-items {
  display: flex;
  flex-wrap: wrap;
}

.who-we-serve-item-block {
  width: calc(25% - 32px);
  margin: 0 16px 64px;
}

.who-we-serve-item-image {
  width: 100%;
  border-radius: 10px;
}

.who-we-serve-item-name {
  font-family: 'Gilroy';
  font-size: 20px;
  color: #2a323e;
  margin: 14px 0;
}

.who-we-serve-item-text {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 165%;
  color: #565a69;
}

@media screen and (max-width: 991px) {
  .who-we-serve-item-block {
    width: calc(50% - 32px);
  }
}

@media screen and (max-width: 991px) {
  .who-we-serve-item-block {
    width: 100%;
  }
}
