.support-faq-block {
  margin-bottom: 130px;
}
.support-faq-block-name {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
  color: #373b47;
  margin-bottom: 50px;
}
.support-faq-inner {
  display: flex;
}
.support-faq-inner-col {
  width: 50%;
  margin-right: 40px;
}
.support-faq-inner-col:last-of-type {
  margin-right: 0;
}
.support-faq-item {
  margin-bottom: 20px;
  margin-right: 40px;
  width: 100%;
}
.support-faq-item-name {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  line-height: 134.2%;
  color: #000000;
  padding: 13px 19px;
  background: #f6f6fb;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.support-faq-item-text {
  font-family: 'Gilroy';
  font-size: 15px;
  line-height: 27px;
  color: #373b49;
  padding: 16px;
  background: #fafafd;
  border-radius: 4px;
}
.support-faq-item-icon {
  font-size: 22px;
}

@media screen and (max-width: 991px) {
  .support-faq-inner {
    flex-wrap: wrap;
  }
  .support-faq-inner-col {
    width: 100%;
    margin-right: 0;
  }
}
