.profile-section1 {
  background: url(../../assets/imgs/profile-banner.jpg) center top no-repeat;
  background-size: cover;
  min-height: 485px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.profile-content {
  background: #fbfbfb url(../../assets/imgs/two-ellipse-bg.png) center top no-repeat;
  background-size: cover;
}
