.services-slider-block {
  padding-top: 100px;
  padding-bottom: 100px;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute;
  top: 45%;
  z-index: 2;
  width: 52px;
  height: 52px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 5px 20px rgba(69, 71, 91, 0.09);
}
.alice-carousel__prev-btn {
  left: -10px;
}

.alice-carousel__next-btn {
  right: -10px;
}

.services-slider-name {
  font-family: 'Gilroy Bold';
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 50px;
}
.service-item {
  position: relative;
  margin: 0 20px;
  overflow: hidden;
}
.service-item-img {
  width: 100%;
}
.service-item-block {
  position: absolute;
  bottom: -40px;
  left: 10px;
  right: 10px;
  transition: all 0.7s ease;
}

.service-item-name {
  font-family: 'Gilroy';
  font-size: 20px;
  line-height: 26px;
  color: #fdfdfd;
}
.service-item-text {
  font-family: 'Quicksand';
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 16px;
}

.service-item-booking {
  opacity: 0;
  transition: all 0.7s ease;
}
.service-item:hover .service-item-block {
  bottom: 10px;
}
.service-item:hover .service-item-booking {
  opacity: 1;
}
