.pagename-h1 {
  font-family: 'Gilroy Bold';
  font-size: 60px;
  line-height: 135%;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 250px;
}
@media screen and (max-width: 1280px) {
  .pagename-h1 {
    margin-left: 0px;
  }
}
