.news-blog-details-banner {
  background: url(../../assets/imgs/news-blog-details-banner.jpg) center top no-repeat;
  background-size: cover;
  min-height: 485px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
