.service-content-inner {
  width: 100%;
  max-width: 1170px;
  margin-left: 0;
}

.service-content-header {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 61px;
  margin-bottom: 22px;
}

.service-content-subheader {
  font-family: 'Gilroy Bold';
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 22px;
}

.service-content-main b {
  font-family: 'Gilroy Bold';
  font-size: 16px;
  line-height: 170%;
  color: #545869;
}

.service-content-main,
.service-content-main p,
.service-content-main li {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 170%;
  color: #545869;
}

.service-content-main p {
  margin-bottom: 20px;
}

.service-content-main ul {
  margin-left: 30px;
}
.service-content-main li {
  margin: 15px 0;
}

.service-content-main-btn {
  margin-top: 50px;
}
.service-content-main-btn:hover {
  color: #fdfdfd;
}

@media screen and (max-width: 1280px) {
  .service-content-inner {
    max-width: unset;
  }
}
