.why-block {
  background: url(../../../assets/imgs/index-section-4-bg.png) top center no-repeat;
  background-size: contain;
  margin-bottom: 60px;
}

.why-name-block {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #fdfdfd;
  padding-top: 120px;
  margin-bottom: 60px;
}
.why-block-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.why-item-out {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 47px 10px 24px;
  background: #ffffff;
  box-shadow: 0px 14px 100px rgba(161, 172, 200, 0.1);
  border-radius: 10px;
  margin-right: 45px;
  width: calc(20% - 45px);
  justify-content: center;
}

.why-item-out:last-of-type {
  margin-right: 0;
}
.why-item-img {
  width: 75px;
}
.why-item-name {
  font-family: 'Quicksand Bold';
  font-size: 21px;
  line-height: 26px;
  color: #2a323e;
  margin: 30px 0 10px;
}

.why-item-text {
  font-family: 'Quicksand';
  font-size: 16px;
  line-height: 170%;
  color: #656977;
  text-align: center;
  height: 50px;
  overflow: hidden;
}
.why-item-link {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.why-item-link-text {
  font-family: 'Quicksand Bold';
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f4a418;
  margin-right: 5px;
}
.why-item-link-icon {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .why-block-cards {
    flex-wrap: wrap;
  }
  .why-item-out {
    margin-bottom: 20px;
    margin-right: 20px;
    width: calc(33% - 20px);
  }
}
@media screen and (max-width: 991px) {
  .why-block-cards {
    flex-wrap: wrap;
  }
  .why-item-out {
    margin-bottom: 20px;
    width: calc(50% - 20px);
  }
  .why-name-block {
    padding-top: 60px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 520px) {
  .why-block {
    background-size: 150%;
  }
  .why-item-out {
    margin-bottom: 20px;
    width: 100%;
    margin-right: 0;
  }
  .why-name-block {
    padding-top: 50px;
    margin-bottom: 40px;
  }
}
