.fixed-conntacts-section {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.fixed-conntacts-section-item {
  display: block;
  margin-bottom: 15px;
  position: relative;
  right: -10px;
}

.fixed-conntacts-background {
  padding: 9px 18px 9px 9px;
  border-radius: 30px 0px 0 30px;
  transition: all 0.7s;
}

.fixed-conntacts-icon-out {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}

.fixed-conntacts-section-item:hover {
  right: 0;
  filter: brightness(93%);
}
.fixed-conntacts-section-item:active {
  filter: brightness(80%);
}

.fixed-conntacts-icon {
  height: 19px;
  margin-top: 10px;
}
