.sign-in-bg {
  background: #f4fcff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.page-name-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
