.experts-panel-block {
  margin: 100px auto 120px;
}

.experts-panel-name {
  font-family: 'Gilroy Bold';
  font-size: 32px;
  line-height: 135%;
  text-align: center;
  letter-spacing: 1px;
  color: #353535;
  margin-bottom: 20px;
}

.experts-panel-text {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 19px;
  color: #535763;
  text-align: center;
  margin-bottom: 50px;
}

.experts-panel-tags-search {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experts-panel-tags {
  display: flex;
}

.experts-panel-tag {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 15px;
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding: 15px 20px;
  color: #434355;
  background: #f3f3f3;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.experts-panel-tag:hover,
.experts-panel-tag.experts-panel-tag-active {
  color: #ffffff;
  background: #f4a418;
}

.experts-panel-items {
  display: flex;
  flex-wrap: wrap;
}

.experts-panel-item {
  max-width: 330px;
  margin: 0 15px 20px;
  background: #ffffff;
  box-shadow: 0px 14px 100px rgba(161, 172, 200, 0.1);
  border-radius: 10px;
  padding: 39px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.experts-panel-item:last-of-type {
  margin-right: 0;
}

.experts-panel-item-photo {
  width: 105px;
  margin-bottom: 20px;
}

.experts-panel-item-name {
  font-family: 'Gilroy Bold';
  font-size: 24px;
  line-height: 33px;
  color: #1a1b2d;
  text-align: center;
  margin-bottom: 10px;
}

.experts-panel-item-job {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 19px;
  color: #535763;
  text-align: center;
  margin-bottom: 20px;
}

.experts-panel-item-text {
  font-family: 'Gilroy';
  font-size: 15px;
  line-height: 27px;
  color: #373b49;
}
.experts-panel-search {
  width: 100%;
  max-width: 350px;
}
.experts-panel-item-text-link {
  color: #f4a418;
  text-decoration: underline;
  display: inline-block;
  margin-left: 5px;
}

.experts-input-field {
  position: relative;
  margin-bottom: 0;
}
.experts-input-field-text {
  padding-left: 40px;
}
.experts-input-icon {
  position: absolute;
  top: 16px;
  left: 12px;
}

@media screen and (max-width: 1280px) {
  .experts-panel-tags-search {
    flex-wrap: wrap;
  }
  .experts-panel-tags {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 991px) {
  .experts-panel-item {
    max-width: calc(33% - 30px);
  }
}
@media screen and (max-width: 768px) {
  .experts-panel-item {
    max-width: calc(50% - 30px);
  }
}
@media screen and (max-width: 520px) {
  .experts-panel-item {
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}
