.experts-section1 {
  background: url(../../assets/imgs/experts-banner.jpg) center top no-repeat;
  background-size: cover;
  min-height: 485px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
