.news-categories-inner {
  display: flex;
  flex-direction: row;
  margin: 100px 0;
  justify-content: space-between;
}
.news-categories-aside {
  flex-basis: 370px;
}
.news-categories-aside-widget {
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 10px 45px rgba(127, 145, 215, 0.1);
  border-radius: 4px;
  margin-bottom: 32px;
}
.news-categories-aside-widget-name {
  font-family: 'Gilroy Bold';
  font-size: 18px;
  line-height: 29px;
  color: #373e47;
}
.news-categories-aside-widget-link {
  font-family: 'Gilroy';
  font-size: 17px;
  line-height: 20px;
  color: #4b525d;
}
.news-categories-aside-active {
  color: #4e868d;
}
.news-categories-aside-widget-list {
  list-style: none;
  margin: 0;
}
.news-categories-aside-widget-item {
  padding: 12px 0 16px;
  border-bottom: 1px solid #f2f2f2;
}
.news-categories-aside-widget-item:last-of-type {
  border: none;
}
.news-categories-aside-banner-img {
  width: 100%;
  border-radius: 10px;
}
.news-categories-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 370px - 64px);
}
.news-categories-item {
  width: calc(100% / 2 - 32px);
  margin-right: 32px;
  margin-bottom: 32px;
}
.news-categories-item-image {
  width: 100%;
  margin-bottom: 18px;
}
.news-categories-item-date {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 16px;
  color: #535763;
  margin-bottom: 7px;
}
.news-categories-item-name {
  font-family: 'Gilroy Bold';
  font-size: 20px;
  line-height: 33px;
  color: #1a1b2d;
  margin-bottom: 7px;
  width: 100%;
}
.news-categories-item-text {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 30px;
  color: #50566c;
  margin-bottom: 7px;
}
.news-categories-aside-search {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}
.news-categories-aside-search-input {
  border-top: 1px solid #dfe3ef;
  border-left: 1px solid #dfe3ef;
  border-bottom: 1px solid #dfe3ef;
  border-radius: 4px 0 0 4px;
  padding: 16px;
  width: 100%;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
}
.news-categories-aside-search-button {
  border: none;
  background: #4e868d;
  width: 60px;
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
}

.news-categories-aside-search-input:focus,
.news-categories-aside-search-input:focus-visible {
  border: 1px solid #4e868d;
}

@media screen and (max-width: 991px) {
  .news-categories-inner {
    flex-direction: column;
  }

  .news-categories-aside,
  .news-categories-content {
    width: 100%;
    margin-bottom: 40px;
  }
}
