.support-banner {
  background: url(../../assets/imgs/support-banner.jpg) center top no-repeat;
  background-size: cover;
  min-height: 700px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: -120px;
}

.support-name-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.support-drop-message {
  background: url(../../assets/imgs/orange-left-ellipse-bg.png) left bottom #f9f9fb no-repeat;
  background-size: 5%;
}
