.booking-search-field {
  position: relative;
}
.booking-search-icon {
  width: 15px;
  position: absolute;
  top: 19px;
  right: 15px;
}
.booking-search-field {
  margin-bottom: 0;
}
.booking-search-input {
  background: #f9fafd;
  border: 1px solid #f9fafd;
}

@media screen and (max-width: 1280px) {
}
