.blog-slider-list-block {
  padding-bottom: 140px;
}
.blog-slider-block-name {
  font-family: 'Gilroy Bold';
  font-size: 40px;
  line-height: 50px;
}

.blog-slider-item {
  position: relative;
  margin: 10px;
}
.blog-slider-item-img {
  width: 100%;
  margin-right: 30px;
}
.blog-slider-item-block-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.blog-slider-item-date,
.blog-slider-item-name {
  color: #fdfdfd;
}
.blog-slider-item-date {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}
.blog-slider-item-name {
  font-family: 'Gilroy Bold';
  font-size: 20px;
  line-height: 33px;
  max-height: 60px;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
}
