.links-block {
  background: #d8e5e7;
  padding: 30px 0 50px 0;
}
.links-block-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.links-block-col {
  display: flex;
  flex-direction: column;
}
.links-block-name {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  color: #434355;
}
.links-block-link {
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 34px;
  color: #434355;
  opacity: 0.8;
}

@media screen and (max-width: 992px) {
  .links-block-inner {
    flex-wrap: wrap;
  }
  .links-block-col {
    width: calc(50% - 30px);
    margin: 0 10px 20px 10px;
  }
}
