.error-bg {
  background: url(../../assets/imgs/error-bg.jpg) center top no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.error-subheader {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.error-header {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 131%;
  letter-spacing: 1px;
  max-width: 650px;
  margin-bottom: 20px;
}

.error-secription {
  font-family: 'Gilroy';
  font-size: 15px;
  line-height: 27px;
  max-width: 800px;
}
