.services-section1 {
  background: url(../../assets/imgs/services-banner.jpg) center top no-repeat;
  background-size: cover;
  min-height: 485px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.services-blog {
  background: url(../../assets/imgs/background-blog-list.png) left bottom no-repeat;
  background-size: contain;
}
