.footer-block {
  background: #fff;
  padding: 35px 0 83px 0;
}
.footer-block-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-block-socials {
  display: flex;
}
.footer-block-col {
  display: flex;
  flex-direction: column;
}
.footer-block-name {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #272939;
}
.footer-block-logo {
  max-width: 147px;
}
.footer-block-name-top-space {
  margin-top: 50px;
}
.footer-block-link {
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 34px;
  color: #3e4458;
}
.footer-block-socials {
  display: flex;
  flex-direction: row;
}
.footer-block-social-ico {
  width: 8px;
}
.footer-block-social {
  margin-right: 12px;
  width: 37px;
  height: 37px;
  background: #e9f9ff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}
.footer-block-social svg {
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  fill: #4c94a6;
}

.footer-block-social:hover {
  background: #4e868d;
}

.footer-block-social:hover svg {
  fill: #fff;
}

.footer-block-second {
  background-color: #eeeeee;
  padding: 25px 0;
}
.footer-block-second-out {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-block-second-payment {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer-block-second-payment-icon-out {
  border: 1px solid rgba(48, 53, 61, 0.13);
  border-radius: 1.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 0 5px;
}
.footer-block-second-text-link {
  padding: 0 10px;
  display: inline-block;
  border-right: 1px solid #756e6e;
  margin-right: -1px;
  text-align: center;
  color: #756e6e;
}
.footer-block-second-payment-icon {
  width: 40px;
}
.footer-block-second-text-copy {
  font-family: Quicksand;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  color: #4f4f4f;
}
@media screen and (max-width: 768px) {
  .footer-block-inner,
  .footer-block-second-out {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  .footer-block-second-text {
    margin-bottom: 40px;
  }
  .footer-block-name {
    margin-top: 40px;
  }
  .footer-block-col {
    margin: 0 10px;
  }
  .footer-block-col {
    width: calc(50% - 20px);
    margin: 0 10px;
  }
}
@media screen and (max-width: 350px) {
  .footer-block-inner,
  .footer-block-second-out {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  .footer-block-second-text {
    margin-bottom: 40px;
  }
  .footer-block-name {
    margin-top: 40px;
  }
  .footer-block-col {
    margin: 0 10px;
  }
  .footer-block-col {
    width: calc(50% - 20px);
    margin: 0 10px;
  }
  /* . {
    footer-block-second-payment {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    } */
  .footer-block-second-text-link:last-of-type {
    border-right: unset;
  }
  .footer-block-second-payment-icon {
    width: 20px;
  }
}
