.breadcrumbs {
  display: flex;
  margin-left: 250px;
  justify-content: center;
  align-items: center;
}
.breadcrumb-item {
  display: flex;
  align-items: center;
}
.breadcrumbs-text {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
}
.breadcrumbs-svg {
  margin: 0 10px;
}
@media screen and (max-width: 1280px) {
  .breadcrumbs {
    margin-left: 0px;
  }
}
